<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.open.basic.user.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.open.basic.user.entity.Question" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="delete_status" property="deleteStatus" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.open.basic.user.entity.Question" >
    insert into question (id, user_id, question_id, 
      content, type, create_time, 
      delete_status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{questionId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, 
      #{deleteStatus,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.open.basic.user.entity.Question" >
    update question
    set user_id = #{userId,jdbcType=VARCHAR},
      question_id = #{questionId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER},
      delete_status = #{deleteStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, question_id, content, type, create_time, delete_status
    from question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, question_id, content, type, create_time, delete_status
    from question
  </select>
</mapper>