# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# give permission to those jars
!./open-tools/src/main/resources/jars/mysql-connector-java-5.1.14.jar

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.logs
logs/

/bin/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
